@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    background-color: #FFFFFF;
    color: #3d5170;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    
    display:flex;
    justify-content: center;
    align-items:center;
}

#thumbnails {
    max-width: 880px;
    padding-top:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    border-radius: 5px;
    width: 200px;
    height: 298px;
}

aside {
    max-width: 800px;
    padding-top:10px;
	padding-bottom:10px;
    border-top: dotted 2px #3d5170;
	margin-top:10px;
}

figure {
    margin: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
}

figcaption {
    font-size:13px;
    font-weight: 900;
    color: #6f7276;
    padding-top:3px;
}

a {
    text-decoration: none;
    color: #3d5170;
}
a:visited {
    color: #3d5170;
}
a:hover {
    text-decoration: underline;
}

.heading {
    font-family: "share tech";
    font-size: 40px;
    font-weight:bold;
}

.sub-heading {
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 600;
    color: #6f7276;
}

footer p {
    font-weight: bold;
}

i {
    padding-right:8px;
}

nav {
    padding-bottom:20px;
    display:flex;
}

.nav-link {
    padding-right:20px;
    font-weight:bold;
}

.nav-link:nth-of-type(3) {
    padding-left:20px;
    border-left: 2px dotted #6f7276;
}

.full-image {
    width:469px;
    height:700px;
}

@media (max-width: 500px) {
    #thumbnails {
        flex-direction: column;
        align-items: center;
    }

    figure {
        padding-right: 0px;
    
    }
    .full-image {
        width:300px;
        height: 450px;
    }
}