@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/* --------------------------- global styling */
.g-base {
    background-color: #FFFFFF;
    color: #3d5170;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    
    display:flex;
    justify-content: center;
    align-items:center;
}

.g-heading {
    font-family: "share tech";
    font-size: 40px;
    font-weight:bold;
}

.g-sub-heading {
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 600;
    color: #6f7276;
}

a {
    text-decoration: none;
    color: #3d5170;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: #3d5170;
    }
}

footer p {
    font-weight: bold;
}

/* --------------------------- page / section styling */

#p-home aside {
    max-width: 800px;
    padding-top:10px;
	padding-bottom:10px;
    border-top: dotted 2px #3d5170;
	margin-top:10px;
}

#p-home #s-thumbnails {
    max-width: 880px;
    padding-top:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#p-home #s-thumbnails img {
    border-radius: 5px;
    width: 200px;
    height: 298px;
}

figure {
    margin: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
}

figcaption {
    font-size:13px;
    font-weight: 900;
    color: #6f7276;
    padding-top:3px;
}


#p-thumbnail #s-navigation {
    padding-bottom:20px;
    display:flex;
}

#p-thumbnail #s-navigation i {
    padding-right:8px;
}

#p-thumbnail #s-navigation .nav-link {
    padding-right:20px;
    font-weight:bold;
}

#p-thumbnail #s-navigation .nav-link:nth-of-type(3) {
    padding-left:20px;
    border-left: 2px dotted #6f7276;
}

#p-thumbnail #s-poster .full-image {
    width:469px;
    height:700px;
}

/* ---------------------------media queries */
@media (max-width: 500px) {
    #p-home #s-thumbnails {
        flex-direction: column;
        align-items: center;
    }

    #p-home #s-thumbnails figure {
        padding-right: 0px;
    }

    #p-thumbnail #s-poster .full-image {
        width:300px;
        height: 450px;
    }
}